{
  "plugins": ["prettier-plugin-go-template"],
  "semi": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "go-template",
        "goTemplateBracketSpacing": true,
        "bracketSameLine": true
      }
    }
  ]
}
