{{ define "main" }}
  <section class="section pt-20 flex items-center">
    <div class="container flex-1">
      <div class="row justify-center">
        <div class="mb-8 text-center">
          <h1 class="mb-8 text-6xl">
            {{ .Title }}
          </h1>
          <p class="mb-8 text-xl font-light font-primary">
            {{ .Content }}
          </p>
        </div>
      </div>
    </div>
    <div class="container flex-1">
      <div class="col-10 offset-2">
        <ul class="w-full text-">
          <li class="font-primary mt-4">
            📌 Traducir el diseño de un sitio a codigo HTML y CSS
          </li>
          <li class="font-primary mt-4">
            📌 Estructurar el contenido semánticamente
          </li>
          <li class="font-primary mt-4">
            📌 Optimizar el sitio para motores de búsqueda
          </li>
          <li class="font-primary mt-4">📌 Asegurar la accesibilidad</li>
          <li class="font-primary mt-4">
            📌 Controlar tipografias, plantillas, formas del diseño y la
            interactividad
          </li>
          <li class="font-primary mt-4">
            📌 Programar, cambiar y mantener un sitio web
          </li>
          <li class="font-primary mt-4">
            📌 Adaptar el diseño de una web a diversios dispositivos y
            navegadores
          </li>
          <li class="font-primary mt-4">
            📌 Crear herramientas que mejoren la interacción entre usuario y web
          </li>
          <li class="font-primary mt-4">
            📌 Usar APIs para conectar la web con servicios y sistema
          </li>
        </ul>
      </div>
    </div>
  </section>
{{ end }}
