{{ define "main" }}
  <section>
    <article
      class="h-[40vh] bg-theme-dark px-4 lg:px-32 py-6 flex justify-between relative flex-col lg:flex-row">
      {{ with .Params.introduction }}
        <div class="mt-4">
          <h2 class="text-white lg:text-6xl text-balance">
            {{ .title }}
          </h2>
          <p class="text-white text-balance py-2">{{ .content }}</p>
          <small class="text-white">{{ .creator }}</small>
        </div>
      {{ end }}

      <div class="relative min-h-max">
        <div
          class="bg-white px-6 relative w-[24rem] shadow-lg min-w-max min-h-max lg:mt-4 mt-6 lg:sticky lg:top-0 lg:left-0 lg:right-0 py-6 overflow-auto">
          {{ with .Params.banner }}
          <div class="relative">
            <h2 class="text-black">{{ .price }}</h2> 
            <a class="btn btn-primary mt-6 my-4" href="#">
              {{ .title }}
              <i class="fa fa-arrow-right pl-2"></i>
            </a>
          </div>
          {{ end }}
          <div>
            <h2 class="h5 py-4">Este curso incluye: </h2>
            {{ range $i, $e:= .Params.include }}

              <ul>
                {{ range .bulletpoints }}
                  <li class="relative mb-4 pl-6">
                    <i class="fa fa-check absolute left-0 top-1.5"></i>
                    {{ . | markdownify }}
                  </li>
                {{ end }}
              </ul>
            {{ end }}
          </div>
        </div>
      </div>
    </article>
    <article class="px-8 flex justify-start">
      <div class="lg:px-14 py-4">
        <h1>content</h1>
      </div>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
    </article>
  </section>
{{ end }}
