{{ define "main" }} 

<section>
<article class="h-[40vh] bg-theme-dark px-4 lg:px-24 py-6 flex justify-between relative flex-col lg:flex-row">
    <div class="mt-4">
        <h2 class="text-white lg:text-5xl">Curso introductorio a la programacin web</h2>
        <p class="text-white text-balance py-2">Aprende a conocer el desarrollo web desde cero conociendo las herramientas mas usadas en esa areas y sus principales tecnologias</p>
        <small class="text-white">creado port Sebastian García.</small>
    </div>
    <div class="bg-white px-6 relative w-[24rem] shadow-lg min-w-max mt-4">
        <div class="lg:absolute lg:top-0 lg:left-0 lg:right-0 px-4 py-6">
            <b class="text-2xl text-black">$99.900  </b>
        </div>
    </div>
</article>
<article class="px-8 flex justify-start">
    <div class="lg:px-14 py-4">

        <h1>content</h1>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</article>
</section>

{{ end }}